/* component.module.css */
.container {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.button {
  z-index: 5;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 0;
  /* button effect 消す */
  outline: none;
  position: relative;
  -webkit-tap-highlight-color: transparent; /* モバイルでのハイライトを無効化 */
  user-select: none; /* テキスト選択を無効化 */
}

.topCircle,
.middleBox,
.bottomCircle {
  user-select: none; /* 各要素も選択できないように設定 */
}

.topCircle {
  z-index: 10;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 180px;
  height: 160px;
  transition: bottom 0.2s ease;
  border-radius: 50%;
}

.middleBox {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  width: 180px;
  height: 40px;
  transition: height 0.2s ease;
}

.bottomCircle {
  width: 180px;
  height: 160px;
  border-radius: 50%;
}

/* クリック時の凹みエフェクト */
.button:active .topCircle {
  bottom: 10px;
}

.button:active .middleBox {
  height: 10px;
}

.base {
  position: absolute;
  bottom: -15px;
  left: -15px;
  right: -15px;
  height: 175px;
  border-radius: 50%;
}
