.container {
  min-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 3fr;
}

.water {
  position: relative;
}

.controller {
  background-color: var(--gray-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
